.container{
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVJRzd-gilnNy4Q-1_zsXcgbRrS-zeyiNwy8hCyCBDHEn3QKIK);
    background-size: 100%;
}


